<% include header %>

<h1><a href="/"><< back to</a> Bloggin' It<strong>.</strong>!<strong></strong></h1>
<h3>Bloggin' It <a href="/about">a beauty blog by Sandra Matkovic</a></h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>

<% include footer %>
