<% include header %>

<h1><a href="/"><< back to</a> Sandra Matkovic<strong>.</strong>f<strong>m</strong></h1>
<h3>Bloggin' It - a beauty blog by <a href="/<%- page.slug %>"> Sandra Matkovic</a></h3>

<h2><%- page.title %> :</h2>

<section>
  <%- page.body %>
</section>

<% include footer %>
