<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Welcome to heART - Where art comes from the heart.</h1>
      <p>heART · is a newly launched searchable database of European fine arts and architecture, currently containing over 100+ reproductions. Artist biographies, commentaries, guided tours, period music, catalogue, free postcard and mobile services are provided.</p>
    
</div>
