<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Welcome to heART - Where art comes from the heart.</h1>
      <p>heART · is a newly launched searchable database of European fine arts and architecture, currently containing over 100+ reproductions. Artist biographies, commentaries, guided tours, period music, catalogue, free postcard and mobile services are provided.</p>
      

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Anybody interested in art and the creative industry</li>
      <li>Painters, sculptors, photographers and graphic artists</li>
      <li>Those interested in meeting and making a connection with others in the local art scene.</li>
    </ul>
  </article><!-- article -->
</div>
