<!doctype html>
<html>
	<head>
		<title>Bloggin' It - a beauty blog by Sandra Matkovic</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
