<% include header %>

<h1>Sandra Matkovic<strong>.</strong><strong></strong></h1>
<h3>Bloggin' It - a beauty blog by Sandra Matkovic <a href="/about">Sandra Matkovic</a></h3>

<section>
  <% var teller = 1; %>
  <% posts.forEach(function(post){ %>
    <p>
      <%- post.date %> :
      <a class="post-link" href="<%- post.slug %>"><%- post.title %></a>
      &mdash; <%- post.summary %>
    </p>
    <% if (teller !== posts.length) { %>
    <span class="divider">* * * * *</span>
    <% } %>
  <% teller++;}); %>
</section>

<% include footer %>
