<% include header %>

<h1>kristo<strong>.</strong>f<strong>m</strong></h1>
<h3>Personal site of <a href="/about">Kristof Michiels</a></h3>

<section>
  <% var teller = 1; %>
  <% posts.forEach(function(post){ %>
    <p>
      <%- post.date %> :
      <a class="post-link" href="<%- post.slug %>"><%- post.title %></a>
      &mdash; <%- post.summary %>
    </p>
    <% if (teller !== posts.length) { %>
    <span class="divider">* * * * *</span>
    <% } %>
  <% teller++;}); %>
</section>

<% include footer %>
