<% include header %>

<h1><a href="/"><< back to</a> kristo<strong>.</strong>f<strong>m</strong></h1>
<h3>personal site of <a href="/about">Kristof Michiels</a></h3>

<h2>Meanwhile, on <span>Instagram</span> :</h2>

<section class="instagram">
  <% afbeeldingen.forEach(function(afbeelding){ %>
    <figure>
      <a href="https://www.instagram.com/p/<%- afbeelding.id %>/?taken-by=kristo.fm"><img src="<%- afbeelding.media %>" alt="alt text" ></a>
      <figcaption>
          <% if (afbeelding.text) { %>
            <%- afbeelding.text %>
            <%} else {%>Click to see this picture<%} %>
      </figcaption>
    </figure>
  <% }); %>
</section>

<% include footer %>
