<% include header %>

<h1><a href="/"><< back to</a> kristo<strong>.</strong>f<strong>m</strong></h1>
<h3>personal site of <a href="/<%- page.slug %>">Kristof Michiels</a></h3>

<h2><%- page.title %> :</h2>

<section>
  <%- page.body %>
</section>

<% include footer %>
