<% include header %>

<h1><a href="/"><< back to</a> kristo<strong>.</strong>f<strong>m</strong></h1>
<h3>personal site of <a href="/about">Kristof Michiels</a></h3>

<h2>Meanwhile, on <span>Pinterest</span> :</h2>

<section class="pinterest">
  Pinterest maatjes!
</section>

<% include footer %>
